In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/digikala/digikala/3-p5s3708k.csv
/kaggle/input/digikala/digikala/4-oska9ni8.xlsx
/kaggle/input/digikala/digikala/1-k9d5q7lw.csv
/kaggle/input/digikala/digikala/2-p9vcb5bb.xlsx
/kaggle/input/digikala/digikala/5-awte8wbd.xlsx
/kaggle/input/digikala/digikala/digikala/3-p5s3708k.csv
/kaggle/input/digikala/digikala/digikala/4-oska9ni8.xlsx
/kaggle/input/digikala/digikala/digikala/1-k9d5q7lw.csv
/kaggle/input/digikala/digikala/digikala/2-p9vcb5bb.xlsx
/kaggle/input/digikala/digikala/digikala/5-awte8wbd.xlsx

In [2]:
df = pd.read_csv('../input/digikala/digikala/3-p5s3708k.csv')

In [3]:
df.head(10)

,ID_Order,ID_Customer,ID_Item,DateTime_CartFinalize,Amount_Gross_Order,city_name_fa,Quantity_item
0,2714054,469662,21386,2015-10-15 08:50:56.000,597982.0,محمود آباد,1.0
1,11104039,3063877,248497,2018-02-11 00:29:26.000,980000.0,خرمدره,1.0
2,4228130,3184893,50144,2016-06-14 00:30:08.000,229358.0,قرچک,1.0
3,22225624,6888562,70208,2018-09-03 14:37:19.000,16514.0,قم,1.0
4,4068771,2533490,67627,2016-05-21 11:51:02.000,133028.0,تهران,1.0
5,11479246,2841640,312932,2018-03-01 12:07:15.000,290000.0,مشهد,1.0
6,8267421,5235886,42365,2017-08-19 13:30:24.000,55046.0,اصفهان,1.0
7,11588978,5574955,715680,2018-03-04 19:19:02.000,2790000.0,رشت,1.0
8,9916301,1145709,102588,2017-12-11 19:33:59.000,34862.0,تهران,1.0
9,10740652,4928230,658519,2018-01-23 06:11:34.000,2600000.0,خرمشهر,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Order               200000 non-null  int64
 1   ID_Customer            200000 non-null  int64
 2   ID_Item                200000 non-null  int64
 3   DateTime_CartFinalize  200000 non-null  object
 4   Amount_Gross_Order     200000 non-null  float64
 5   city_name_fa           200000 non-null  object
 6   Quantity_item          200000 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 10.7+ MB