In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/digikala/digikala/3-p5s3708k.csv
/kaggle/input/digikala/digikala/4-oska9ni8.xlsx
/kaggle/input/digikala/digikala/1-k9d5q7lw.csv
/kaggle/input/digikala/digikala/2-p9vcb5bb.xlsx
/kaggle/input/digikala/digikala/5-awte8wbd.xlsx
/kaggle/input/digikala/digikala/digikala/3-p5s3708k.csv
/kaggle/input/digikala/digikala/digikala/4-oska9ni8.xlsx
/kaggle/input/digikala/digikala/digikala/1-k9d5q7lw.csv
/kaggle/input/digikala/digikala/digikala/2-p9vcb5bb.xlsx
/kaggle/input/digikala/digikala/digikala/5-awte8wbd.xlsx

In [2]:
df = pd.read_csv('../input/digikala/digikala/3-p5s3708k.csv')

In [3]:
df.head(20)

,ID_Order,ID_Customer,ID_Item,DateTime_CartFinalize,Amount_Gross_Order,city_name_fa,Quantity_item
0,2714054,469662,21386,2015-10-15 08:50:56.000,597982.0,محمود آباد,1.0
1,11104039,3063877,248497,2018-02-11 00:29:26.000,980000.0,خرمدره,1.0
2,4228130,3184893,50144,2016-06-14 00:30:08.000,229358.0,قرچک,1.0
3,22225624,6888562,70208,2018-09-03 14:37:19.000,16514.0,قم,1.0
4,4068771,2533490,67627,2016-05-21 11:51:02.000,133028.0,تهران,1.0
5,11479246,2841640,312932,2018-03-01 12:07:15.000,290000.0,مشهد,1.0
6,8267421,5235886,42365,2017-08-19 13:30:24.000,55046.0,اصفهان,1.0
7,11588978,5574955,715680,2018-03-04 19:19:02.000,2790000.0,رشت,1.0
8,9916301,1145709,102588,2017-12-11 19:33:59.000,34862.0,تهران,1.0
9,10740652,4928230,658519,2018-01-23 06:11:34.000,2600000.0,خرمشهر,1.0
10,4605740,637880,138296,2016-08-02 10:48:18.000,469358.0,تهران,1.0
11,5623610,2827566,23927,2016-12-04 03:12:59.000,108000.0,لالی,1.0
12,13469523,3819595,564993,2018-06-13 12:28:55.000,525000.0,تهران,1.0
13,24233238,500391,1707686,2018-11-21 07:44:36.000,49000.0,تهران,1.0
14,4851441,3105577,183721,2016-08-31 13:27:44.000,23853.0,تهران,1.0
15,7759076,3185842,376625,2017-07-05 09:37:45.000,708440.0,اصفهان,1.0
16,23062506,7193109,1656648,2018-10-04 17:48:12.000,229000.0,تهران,2.0
17,9934875,2876902,140331,2017-12-13 11:28:20.000,717798.0,تنکابن,1.0
18,23693949,3665022,1671745,2018-10-30 22:15:15.000,73211.0,کرج,3.0
19,2589206,1351072,36298,2015-09-20 09:25:01.000,523761.0,تهران,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Order               200000 non-null  int64
 1   ID_Customer            200000 non-null  int64
 2   ID_Item                200000 non-null  int64
 3   DateTime_CartFinalize  200000 non-null  object
 4   Amount_Gross_Order     200000 non-null  float64
 5   city_name_fa           200000 non-null  object
 6   Quantity_item          200000 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 10.7+ MB

In [5]:
df.describe()

,ID_Order,ID_Customer,ID_Item,Amount_Gross_Order,Quantity_item
count,2.000000e+05,2.000000e+05,2.000000e+05,2.000000e+05,200000.000000
mean,9.871963e+06,2.860671e+06,3.757313e+05,1.458204e+06,1.261225
std,6.404275e+06,1.921815e+06,3.948462e+05,5.450972e+06,1.801186
min,1.000411e+06,4.661320e+05,7.600000e+01,0.000000e+00,1.000000
25%,5.022253e+06,1.021053e+06,8.955725e+04,1.212730e+05,1.000000
50%,8.591270e+06,2.895180e+06,2.302210e+05,3.211010e+05,1.000000
75%,1.246037e+07,4.179218e+06,5.192668e+05,1.011032e+06,1.000000
max,2.484656e+07,7.282118e+06,2.093722e+06,1.530000e+09,500.000000

In [6]:
df.dropna()

,ID_Order,ID_Customer,ID_Item,DateTime_CartFinalize,Amount_Gross_Order,city_name_fa,Quantity_item
0,2714054,469662,21386,2015-10-15 08:50:56.000,597982.0,محمود آباد,1.0
1,11104039,3063877,248497,2018-02-11 00:29:26.000,980000.0,خرمدره,1.0
2,4228130,3184893,50144,2016-06-14 00:30:08.000,229358.0,قرچک,1.0
3,22225624,6888562,70208,2018-09-03 14:37:19.000,16514.0,قم,1.0
4,4068771,2533490,67627,2016-05-21 11:51:02.000,133028.0,تهران,1.0
...,...,...,...,...,...,...,...
199995,12172771,4403268,445940,2018-04-03 12:07:01.000,344037.0,تهران,2.0
199996,4425393,3745774,131645,2016-07-09 19:14:09.000,600000.0,محمدیه,1.0
199997,6671889,4845514,215045,2017-03-08 23:47:06.000,450000.0,اصفهان,1.0
199998,6315995,2541418,264021,2017-02-08 14:59:39.000,193486.0,همدان,1.0
199999,7584127,1342585,89427,2017-06-17 10:08:06.000,55046.0,بندر انزلی,1.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Order               200000 non-null  int64
 1   ID_Customer            200000 non-null  int64
 2   ID_Item                200000 non-null  int64
 3   DateTime_CartFinalize  200000 non-null  object
 4   Amount_Gross_Order     200000 non-null  float64
 5   city_name_fa           200000 non-null  object
 6   Quantity_item          200000 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 10.7+ MB

In [8]:
#missing values
for i in df.columns:
    null_rate = df[i].isna().sum() / len(df) * 100 
    if null_rate > 0 :
        print("{} null rate: {}%".format(i,round(null_rate,2)))

In [9]:
df['Amount_Gross_Order'].value_counts()

137615.0      1653
200000.0      1584
82569.0       1520
100000.0      1447
150000.0      1378
              ...
21750000.0       1
169629.0         1
3050459.0        1
9991651.0        1
6601284.0        1
Name: Amount_Gross_Order, Length: 22416, dtype: int64